#home-container {
    padding: 10px;
    width: 52.5rem;
    min-height: calc(100vh - 110px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.TextFieldBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: auto;
    background-color: var(--green);
    border-radius: 10px;
}


.FieldName {
    padding: 10px;
    color: var(--light);
}

.ActionBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 10px);
    height: 40px;
    background-color: var(--light);
    border-radius: 20px;
    cursor: pointer;
}

.ModalContainer {
    width: 100%;
}

.Modal {
    border-radius: 5px;
    width: auto;
}

.PostInput {
    width: 100%;
    height: 300px;
    min-height: 50px;
    max-height: 50vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    resize: vertical;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 14px;
}

.ModalEnd {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

@media screen and (max-width: 1024px) {
    #home-container {
        width: 90vw;
    }

    .Modal {
        width: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .ModalEnd {
        height: 50px;
        width: 95vw;
        max-width: 100%;
    }

    .PostInput {
        width: 95vw;
        max-width: 100%;
    }
}