.Login-Container {
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Login-Content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50rem;
    min-height: 50rem;
    background-color: var(--green);
    border-radius: 10px;
}

.Login-Header {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
    color: var(--dark);
    margin-bottom: 20px;
    font-family: 'Viaoda Libre', cursive;
}

.Login-Options {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Login-Buttons {
    display: flex;
    width: calc(80% - 20px);
    justify-content: flex-start;
    align-items: center;
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: var(--light);
    cursor: pointer;
}

.Login-Buttons i {
    font-size: 50px;
}

.Login-Buttons img {
    margin-left: calc(40% - 10px);
    margin-right: 15px;
    height: 45px;
    width: 45px;
}

@media screen and (max-width: 1000px) {
    .Login-Content {
        flex-direction: column;
        min-width: calc(100vw - 15px);
        min-height: 50vh;
    }
}

@media screen and (max-width: 700px) {
    .Login-Buttons {
        width: 90%;
    }

    .Login-Buttons img {
        margin-left: 20px;
    }
}