.Post-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    min-width: 100%;
    padding: 20px;
    flex-direction: column;
}

.Post-Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light);
    height: 30px;
    width: 100%;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 18px;
}

.Post-User {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--green);
    margin-right: 10px;
}

.Post-Date-Of-Creation {
    /* margin-left: 20px; */
    font-size: 14px;
}

.Post-Body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: var(--light);
    min-height: 75px;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    border-top: 1px solid var(--green);
}
 
.Post-Links {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.Post-Links a {
    margin: 2px;
}

.Post-Interact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    height: 30px;
    width: 100%;
    padding: 10px;
    border-top: 1px solid var(--green);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

/* .Post-Interact :hover {
    cursor: pointer;
} */

.Post-Interact img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.fa-primary {
    color: violet;
}