#user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: aqua;
    cursor: pointer;
    border: 1px solid var(--green)
}

#user-photo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid var(--green);
}

.User-Options {
    display: none;
    position: absolute;
    right: 10px;
    top: 45px;
    flex-direction: column;
    width: 15rem;
    /* height: 5rem; */
    border-radius: 5px;
    border: 2px solid var(--green);
    background-color: var(--light);
}

.User-Option {
    width: calc(15rem - 10px);
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    cursor: pointer;
    text-decoration: none;
    color: var(--dark);
}

.User-Option:hover {
    background-color: var(--green);
    color: white;
}

.Active-User-Option {
    color: var(--green);
}

.Active-User-Option:hover {
    color: var(--green);
    background-color: var(--light);
    border-radius: 5px;
} 